.jumbotron {
   padding-top: 5rem;
   background-color: #a2d9ff;
}

.navbar-brand {
   font-family: 'pacifico', sans-serif;
   letter-spacing: 2px;
}

#Menu {
   background-color: #a2d9ff;
}

section {
   padding-top: 5rem;
}
